@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html {
    --theme__color: #ed733f;
    --secondary__color: #fbe3d9;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.text__orange {
    color: var( --theme__color );
}

.text__cross-out {
    opacity: 0.4;
    text-decoration: line-through;
}

img {
    width: 100%;
}

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
}

.logo {
    width: 160px;
    filter:hue-rotate(110deg);
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}


.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__link {
    font-size: 36px;
    color: white;
    text-decoration: none;
}

.menu__list {
    padding: 28px 0;
}

.btn__menu {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 40px;
    color: var( --theme__color );
    top: 20px;
    right: 20px;
    position: absolute;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #232323;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

/* LANDING */

#landing {
    background-color: var( --secondary__color );
}

header {
    height: calc( 80vh - 80px );
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 18px;
    color: var( --theme__color );
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    border-bottom: 2px solid var( --theme__color );
}

.nav__link--primary {
    border: 2px solid var( --theme__color );
    border-radius: 4px;
    transition: all 0.1s ease;
}

.nav__link--primary:hover {
    background-color: var( --theme__color );
    color: var( --secondary__color );
}

.header__container {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin-top: 20px;
}

.highlight__description--box {
    color: var( --theme__color );
    font-size: 32px;
}

h1 {
    font-size: 48px;
    color: var( --theme__color );
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 32px;
    text-align: center;
}

button {
    cursor: pointer;
}

.no__cursor {
    cursor: not-allowed;
}

button:active {
    transform: translateY(1px);
}

.btn {
    background-color: var( --theme__color );
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid var( --theme__color );
    transition: all 0.1s ease;
}

.btn:hover {
    background: var( --secondary__color );
    color: var( --theme__color );
}

.header__img--wrapper {
    padding: 24px;
    z-index: 3;
}


/* HIGHLIGHTS */

#highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlights__container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    flex-wrap: wrap;
}

.highlight {
    width: calc( 100% / 3 );
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.highlight__description--box {
    border: 2px solid var( --secondary__color );
    border-radius: 4px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.highlight__description--title {
    margin: 8px 0;
}

.highlight__description--paragraph {
    max-width: 90%;
}

.highlights__wave {
    width: 100%;
    opacity: 0.2;
}

.highlights__wave--bottom {
    transform: translateY(4px);
}


/* FEATURED */

#featured {
    background-color: var( --secondary__color );
}

.featured__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.featured__books {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding: 0 20px;
}

.featured__title {
    padding-bottom: 16px;
}

.featured__book {
    width: 20%;
}

.book--name {
    font-weight: bold;
    line-height: 1.1;
    padding: 4px 0;
}

.book--price {
    font-weight: bold;
    font-size: 14px;
    padding-top: 4px;
}

.book--rating i {
    color: #c7a302;
    font-size: 14px;
}

/* LATEST */

#latest {
    display: flex;
    justify-content: center;
}

.latest__container {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 56px 0;
}

.latest__books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
}

.latest__book {
    height: 400px;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}


/* EXPLORE */

#explore {
    display: flex;
    justify-content: center;
    background-color: var( --secondary__color );
    padding: 56px 0;
}

.explore__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* FOOTER */

footer {
    background-color: #232323;
    display: flex;
    justify-content: center;
    padding: 72px 0;
    width: 100%;
    color: white;
}

.footer__container {
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.footer__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 24px 0 20px 0;
}

.footer__link {
    text-decoration: none;
    color: white;
}

.footer__logo {
    width: 160px;
    filter: grayscale(1) invert(1);
}

/* Phones and Tables */
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    button {
        font-size: 20px;
    }

    .latest__books,
    .featured__books {
        justify-content: space-evenly;
    }


}

@media (max-width: 550px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .featured__book,
    .latest__book {
        width: 180px;
        margin: 5px;
    }

    .featured__books {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .highlight {
        width: 100%;
        margin-bottom: 20px;
    }

    .highlight__description--paragraph {
        max-width: 60%;
    }

    .footer__links {
        padding: 20px;
        padding-top: 24px;
    }

}